body {
  font-family: 'adelle-sans', helvetica, arial, sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	-webkit-font-smoothing: antialiased;
	font-weight: 100;
}

h1, p {
	font-size: inherit;
	line-height: inherit;
}

p {
	color: #767676;
}

h1 {
	font-weight: 600;
	color: #222;
}

a, a:visited {
  text-decoration: none;
	color: blue;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  background-color: white;
}

.content {
  max-width: 600px;
  margin: auto;
  padding: 2em;
  transition: opacity 2s, transform 1s;

  /* — Initial state — */
  /*transform: translateX(-15px);*/
  /*opacity: 0;*/
}

.content.reveal {
  transform: translateX(0);
  opacity: 1;
}
