<div class="get-in-touch relative padding-V40" id="get-in-touch">
	<h2>Get in touch</h2>
	<div class="small-container padding-V40">
		<p class="padding-B16">
			If you want to get in touch about my work, a new project, or about Design Club then feel free to do so via any of the below:
		</p>
		<ul>
			<li><a href="mailto:samueljohnwillis@gmail.com">Email</a></li>
			<li><a href="http://twitter.com/thesamwillis" target="_blank">Twitter</a></li>
			<li><a href="http://uk.linkedin.com/in/thesamwillis" target="_blank">Linkedin</a></li>
			<li><a href="http://dribbble.com/thesamwillis" target="_blank">Dribbble</a></li>
			<li><a href="http://github.com/swillis" target="_blank">GitHub</a></li>
		</ul>
	</div>
</div>
