<div class="header">
	<div class="small-container">
		<h1>
			Sam Willis&thinsp;—&thinsp;Product Designer
		</h1>
		<p>
			Hi! I'm Sam, a London based Product Designer currently working at fintech startup GoCardless.
		</p>
		<p>
			I've got over 5 years of experience designing apps for startups across mobile and the web. I'm a Designer who codes, I care a lot about research, and love solving problems for businesses and consumers alike.
		</p>
		<p>
			I also run Design Club&thinsp;—&thinsp;a bi-monthly meetup for creatives in London&thinsp;—&thinsp;and previously ran Design+Banter&thinsp;—&thinsp;a monthly meetup for designers.
		</p>
	</div>
</div>
