<div class="writing bg-white relative padding-V40">
	<h2>Writing</h2>
	<div class="small-container padding-V40">
		<p class="padding-B16">
			OK, so I haven't done that much writing yet, but there is more coming, I promise!
		</p>
		<ul>
			<li><a target="_blank" href="https://medium.com/gocardless-design/design-style-guide-post-b48b546f928">How we keep our styleguide up-to-date across the GoCardless design team</a></li>
			<li><a target="_blank" href="https://medium.com/gocardless-design/snappy-title-about-starting-a-new-job-85bac8c3c43e">Snappy title about starting a new job</a></li>
		</ul>
	</div>
</div>
