<div class="small-container padding-V40">
	<div class="item">
		<div class="image margin-B16">
			<img src="images/design-club.jpg" alt="Image of the GoCardless Dashboard" />
		</div>
		<h3>
			<a href="http://designclub.io">
				Design Club
			</a>
		</h3>
		<p>
			“Where the creative community figure out what's next.”
		</p>
		<p>
			Design club is&thinsp;—&thinsp;currently&thinsp;—&thinsp;a bi-monthly event for London's creative community to meet, chill and share ideas. I say 'currently' because although right now we are just a regular event, our ambition is to do so much more. We really want to create a hub for the creative community, and not just in London.
		</p>
		<p>
			If this interests you, or you'd like to come give a talk at one of our events then definitely <a href="mailto:samueljohnwillis@gmail.com">get in touch</a>.
		</p>
	</div>
</div>
