<div class="small-container padding-V40">
	<div class="item">
		<div class="image margin-B16">
			<img src="images/design-and-banter.jpg" alt="Image of the GoCardless Dashboard" />
		</div>
		<h3>
			<a href="http://designandbanter.com">
				Design+Banter
			</a>
		</h3>
		<p>
			Currently on a hiatus, D+B was a monthly event for Product Designers in London to come and hang out, swap stories and listen to some sweet talks from their peers.
		</p>
		<p>
			We (Gearoid and I) grew this little event from 50 people in a dark room in the basement of a bowling alley, to a 300 person, sell-out event hosted and sponsored by the likes of IBM, Facebook, Skype and many more.
		</p>
	</div>
</div>
