<div class="small-container padding-V40">
	<div class="item">
		<div class="image margin-B16">
			<img src="images/evori.jpg" alt="Image of the GoCardless Dashboard" />
		</div>
		<div class="item-header">
			<h3 class="inline-block margin-R8">
				Evori
			</h3>
			<span class="timeline">2014-2015</span>
		</div>
		<p>
			Self proclaimed “venture studio” Evori builds and takes to market various consumer apps focused on e-commerce and family tech.
		</p>
		<p>
			When I joined as a mid-level designer Evori already had 2 apps: 23snaps and Styloko on the go. Design's role was to act as an internal design agency, managing and serving the needs of each internal business (we later designed and built Printastic from scratch). This setup, although perhaps unorthodox, allowed me to gain what feels like a hell of a lot of experience relative to the time that I was there.
		</p>
	</div>
</div>
