<div class="small-container padding-V40">
	<div class="item">
		<div class="image margin-B16">
			<img src="images/gocardless.jpg" alt="Image of the GoCardless Dashboard" />
		</div>
		<div class="item-header">
			<h3 class="inline-block margin-R8">
				GoCardless
			</h3>
			<span class="timeline">2015-now</span>
		</div>
		<p>
			At GoCardless we design software that helps businesses of all shapes and sizes (and in many different countries) to collect and manage recurring payments.
		</p>
		<p>
			Working as a product designer I've had the opportunity to work on and lead a variety of different and challenging projects. From designing payment pages&thinsp;—&thinsp;that let our customers sign up their customers&thinsp;—&thinsp;to anti-fraud screens&thinsp;—&thinsp;that assist our ops team in deiscerning would be fraudsters&thinsp;—&thinsp;to a whole host of features in our dashboard that let our merchants run their businesses.
		</p>
	</div>
</div>
