<div class="small-container padding-V40">
	<div class="item">
		<div class="image margin-B16">
			<img src="images/other.jpg" alt="Image of the Broadband Speed landing page." />
		</div>
		<h3>
			Other bits and pieces
		</h3>
		<p>
			Not coming from a design background&thinsp;—&thinsp;I studied business at university&thinsp;—&thinsp;I am no stranger to Impostor syndrome. As such, I have often signed up for extra-curricular projects to try and gain more experience and close the gap between where I am and where I want to be as a Designer.
		</p>
	</div>
</div>
