html,
body {
	font-family: $base-font-family;
	font-size: $base-font-size;
	font-weight: $base-font-weight;
	line-height: $base-line-height;
	position: relative;
	background-color: $salmon;
	-webkit-font-smoothing: antialiased;
}

a {
	color: $blue;
	font-weight: 500;
}
