// Our variables
$base-font-family: "nowtest", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
// $small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

// Colors
$medium-grey: #ddd;
$grey: #111;
$blue: #0757DA;
$salmon: #FFF2F0;

// Spaces
$space-8: 8px;
$space-16: 16px;
$space-24: 24px;
$space-36: 36px;
$space-40: 40px;

// Width of the content area
$mobile: 768px;
